<div class="container">
    <h1>Edit task</h1>

    <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :completed %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to "Delete task", task_path, method: :delete, class: "btn btn-danger" %>
    <% end %>
    
    <br>
    <%= link_to 'Show', @task %> |
    <%= link_to 'Tasks list', tasks_path %>
</div>

