<div class="container">
    <h1>Edit task</h1>

    <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :completed %>
    <%= f.button :submit, class: "btn-primary" %>
    <% end %>

    <%= simple_form_for(@task, method: :delete) do |f| %>
        <%= f.button :submit, "Delete task", class: "btn-link" %>
    <% end %>
    
    <br>
    <%= link_to 'Show', @task %> |
    <%= link_to 'Tasks list', tasks_path %>

</div>

