<div class="container">
    <h1><%= @task.title %></h1>
    <p>Details: <%= @task.details %></p>
    <p>
        Completed:
        <input type="checkbox" disabled="disabled" <%= @task.completed ? "checked":"" %>>
    </p>

    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Tasks list', tasks_path %>
</div>
